.container-fluid{
	width: 80%; 
	margin-left: 10%;
    margin-right: 10%;
}

#contac{
	background-color: #1fada6;

}

section{
	background-color: #ffddb3;
}

#contac h3{
	color: #ffffff;
	font-size: 1.2rem;
	margin-top: 5px;
}

#gallery h2{
	text-align: center;
	color:  #558000;
	
}
#banner{
	background-color: #ffffff;
	height: 300px;
}

#banner img{
	width: 100%;
}
#nav{
	background-color: #ffffff;
	height: 100px;
}

#nav h1{
	color: #008080;
	font-size: 4rem;
	text-align: center;
	margin-top: 5px;
	
}

#nav h3{
	color: #008080;
	font-size: 1.2rem;
	margin-top: 50px;
	text-align: right;
}

span{
	color: #9acd32;
}


#gallery{
	background-color:#ffa333;
}

#big{
	margin-left: 75px;
}
#big img{
	width: 600px;
	height: 450px;
	margin-top: 25px;
	border: 2px solid  #cccc00;
}

#small{
	margin-left: 50px;
}
#small img{
   width: 200px;
   height: 130px;
   margin-right: 25px;
   margin-top: 20px;
   margin-bottom: 10px;
   border: 2px solid  #cccc00;

}

#menu{
	background-color: #cd5c5c;
	height: 50px;
	
}

.img-item {
	width: 80%;
	height:300;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}


.view img{
	width: 100%;
    height: 600px;
}

footer {
	background-color: #1fada6;
	height: auto;
	color: #ffffff;
	padding-top: 10px;
	text-align: center;
}


#menu h3{
	color: #ffff;
	font-size: 1.2rem;
	margin-top: 15px;
	text-align: center;

}

#article h3{
	color: 
}
.view{
	margin-top: 50px;
	text-align: center;
	color: #008080;
}

.view img{
	margin-top: 50px;
	height: 500px;
}
.media{
	margin-top: 150px;
	display: block;
}

.redes{
	margin-top: 50px;
	margin-bottom: 25px;
	text-align: center;
	color: #008080;
}

#aside{
	background-color: #9acd32;
}

@media(max-width: 1140px){
	#nav h1{
		font-size: 2,5rem;
	}
	#nav h3{
		margin-top: 5px;
		font-size: 1rem;
		text-align: center;
	}
	.navbar-toggler{
	font-size: 3rem;
   }
    #menu h3{
	color: #ffffff;
	font-size: 0.8rem;
	margin-top: 5px;
    }  

    #big img{
   	width: 500px;
   	height: 390px;
   } 
}

@media (max-width: 970px){
	#nav h1{
		font-size: 2rem;
	}
	#nav h3{
		margin-top: 5px;
		font-size: 0.9rem;
		text-align: center;
	}
	.navbar-toggler{
	font-size: 2.5rem;
   }

 #big img{
   	width: 400px;
   	height: 300px;
   } 
}
   }


@media (max-width: 768px){
	#nav h1{
		font-size: 1.5rem;
	}
	#nav h3{
		margin-top: 5px;
		font-size: 0.5rem;
		text-align: center;
	}
	.navbar-toggler{
	font-size: 2rem;
    }
     #big img{
   	width: 200px;
   	height: 150px;
   } 
}
}