.container-fluid{
	width: 80%; 
	margin-left: 10%;
    margin-right: 10%;
}

#contac{
	background-color: #1fada6;

}

#contac h3{
	color: #ffffff;
	font-size: 1.2rem;
	margin-top: 5px;
}

#banner{
	background-color: #ffffff;
	height: 300px;
}

#banner img{
	width: 100%;
}

#nav{
	background-color: #ffffff;
	height: 100px;
}

#nav h1{
	color: #008080;
	font-size: 4rem;
	text-align: center;
	margin-top: 5px;
	
}

#nav h3{
	color: #008080;
	font-size: 1.2rem;
	margin-top: 50px;
	text-align: right;
}

span{
	color: #9acd32;
}

.navbar-toggler{
	margin-top: 5px;
	font-size: 4rem;
}

#menu{
	background-color: #cd5c5c;
	height: 50px;
	position: fixed;
	z-index: 1001;
	width: 80%;
}

.carousel-inner img{
	width: 100%;
	height: 100%;
}

.view img{
	width: 100%;
    height: 600px;
}

footer{
	background-color: #1fada6;
	height: 50px;
}

#menu h3{
	color: #ffffff;
	font-size: 1rem;
	margin-top: 15px;

}
.view{
	margin-top: 50px;
}

.view img{
	margin-top: 50px;
	height: 500px;
}

.next{
	margin-top: 150px;
}

.next h2{
	margin-top: 50px;
}

.next-li{
	margin-top: 50px;
	margin-bottom: 50px;
}

.media{
	margin-top: 150px;
}


@media(max-width: 1140px){
	#nav h1{
		font-size: 2,5rem;
	}
	#nav h3{
		margin-top: 5px;
		font-size: 1rem;
		text-align: center;
	}
	.navbar-toggler{
	font-size: 3rem;
   }
    #menu h3{
	color: #ffffff;
	font-size: 0.8rem;
	margin-top: 5px;
    }   
}

@media (max-width: 970px){
	#nav h1{
		font-size: 2rem;
	}
	#nav h3{
		margin-top: 5px;
		font-size: 0.9rem;
		text-align: center;
	}
	.navbar-toggler{
	font-size: 2.5rem;
   }
   }


@media (max-width: 768px){
	#nav h1{
		font-size: 1.5rem;
	}
	#nav h3{
		margin-top: 5px;
		font-size: 0.5rem;
		text-align: center;
	}
	.navbar-toggler{
	font-size: 2rem;

}

}
